* {/*Imported font*/
    font-family: 'Source Sans Pro', sans-serif;
}

i {/*Contact icons spacing*/
    margin: 30px;
}

a {/*Link color*/
    color: #212529;
}

.form-button { /*Message form button*/
    background-color: #e9ecef;
    border: none;
    color: #212529;
}

.card-backgroundcolor {
    background-color: #e9ecef;
}