* {/*Imported font*/
    font-family: 'Roboto', sans-serif;
    color: #244A5D;
}

.bg-img{
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("../assets/images/bg.svg");
	background-size: 100% fixed;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

i {/*Contact icons spacing*/
    margin: 30px;
}

a {/*Link color*/
    color: #B8995A;
	font-weight:500;
	font-size: 18px;
}

a:hover{
	text-decoration: underline;
}

a.small-link{
	font-size: 14px;
	display: block;
}

.underline {
  border-bottom: 2px solid #DBDCD5;
}

.form-button { /*Message form button*/
    background-color: #e9ecef;
    border: none;
    color: #212529;
}

.card-backgroundcolor {
    background-color: #e9ecef;
}

nav{
	max-width: 1352px;
	margin: 20px auto;
}

.logo{
	display: inline-block;
}

.nav-group{
	display: inline-block;
	text-align: right;
	float: right;
	padding-top: 12px;
}

.navbar-brand{
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 22px;
	margin-left: 36px;
}

.nav-item{
	margin-left: 24px;
}

h1{
	font-weight: 300;
	font-size: 48px;
}

.intro{
	font-weight: 400;
	font-size: 18px;
	letter-spacing: .2px;
	line-height: 32px;
	margin-top: 20px;
}

.main{
	max-width: 1196px;
	margin: 60px auto 420px auto;
}

.main-content{
	margin-bottom: 60px;
}

.card-body{
	margin: 20px 20px;
}

.card-text{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: .18px;
}

.card{
	border: none;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
}
.navbar {
	float: right;
}
  
.nav-link {
	text-decoration: none;
	color: #B8995A;
	padding: 4px 0px 14px 0px;
	margin: 0px 14px;
	display: inline-block;
	position: relative;
	opacity: 1;
}
  
.text-link {
	  text-decoration: none;
	color: #B8995A;
	padding: 4px 0px 14px 0px;
	margin: 0px;
	display: inline-block;
	position: relative;
	opacity: 1;
}
  
.nav-link:hover, .text-link:hover {
	opacity: 1;
}
  
.nav-link::before, .text-link::before {
	transition: 300ms;
	height: 2px;
	content: "";
	position: absolute;
	background-color: #B8995A;
}
  
.nav-link-ltr::before, .text-link::before {
	width: 0%;
	bottom: 10px;
}
  
.nav-link-ltr:hover::before, .text-link:hover::before {
	width: 100%;
}
  
  
.nav-group{
	  display: inline-block;
	  text-align: right;
	  float: right;
	  padding-top: 12px;
}
  
div.nav-group > div > a:after{
	  display: inline-block;
	content: '';
	width: 100%;
	border-bottom: solid 3px #019fb6;
	transition: left 250ms ease-in-out, right 250ms ease-in-out;
	opacity: 0;
}
  
div.nav-group > div > a:hover:after {
	opacity: 1;
}

.primary-content {
	margin-bottom: 60px;
}

footer{
	width: 100%;
	bottom: 0px;
	position: absolute;
	height: 10px;
}

footer > small{
	height: 40px;
	padding-top: 40px;
	margin: 80px auto 100px auto;
	text-align: center;
	display: block;
}
